<div class="container">
		<div class="city">
				{{input enter=(action "searchWeather") value=city class="input-city" type="text" placeholder="Enter city name"}}
				<button class="btn" {{action "searchWeather" city}}>Search</button>		
		</div>
		<div>
				{{#unless currentCity}}
						{{#if message}}
								<div class="welcome">{{message}}</div>
						{{else}}
								<div class="welcome">Welcome to forecast weather!</div>
						{{/if}}
						<div class="welcome-icon">
								<i class="wi wi-day-cloudy"></i>
						</div>						
				{{/unless}}
				{{#if loading}}
						<div class="loading">Loading...</div>
				{{else}}	
						<div>
								{{#if today}}
										<Today @today={{today}}/>
								{{/if}}

								{{#if forecast}}
										<Forecast @forecast={{forecast}}/>
								{{/if}}
						</div>
				{{/if}}
		</div>
</div>